@custom-selector :--heading h1, h2, h3, h4, h5, h6;

/* @custom-selector :--heading h1,h2,h3,h4,h5,h6; */
:root {
    --mainColor: yellowgreen;
}

.c-main {
    & .test {
        color: var(--mainColor);
    }
}

:--heading {
    margin-block: 0;
}